
@layout AppLayout

<!-- ניהול משתמשים - רק יוזר מאושר יכול להיכנס -->
@attribute [Authorize(Roles = Roles.User)]
@attribute [Authorize(Policy = "VerifiedUser")]

@page "/MyProjects"


@if (user != null)
{
    <h1>היי @user.FirstName</h1>
    <p>פה יהיה מלא מידע מגניב שקשור אליך</p>


}


@code {

    [CascadingParameter]
    private User user { get; set; }

}
