# IDE
.idea/
.vscode/
.vs/

# Build
bin/
obj/

# Local config / secrets
appsettings.json
appsettings.Development.json
appsettings.Local.json
*.env

# DB
*.db
*.sqlite

# Debug / output
*.pdb
*.wasm
*.gz
*.br

# OS
.DS_Store