@page "/Forget-Password"
@using AuthWithAdmin.Client.ClientHelpers
@using AuthWithAdmin.Shared.AuthSharedModels

@inject HttpClient http

<PageTitle>שכחת סיסמה?</PageTitle>


<EditForm Model="email" OnValidSubmit="Send">
    <DataAnnotationsValidator />

    <a href="login">חזרה</a>

    <h1>שכחת סיסמה?</h1>
    <div>
        <label for="username">מייל:</label>
        <InputText id="username" @bind-Value="email.Email" />
        <ValidationMessage For="@(() => email.Email)" />
    </div>



    <p>@message</p>
    <br />
    <button type="submit" disabled="@loading">איפוס סיסמה</button>
    <p>אין לך חשבון? <a href="@PageRoutes.Signup">הרשמה</a></p>


</EditForm>


@code {

    [Inject]
    public IAuthenticationService _Auth { get; set; }


    ForgetPasswordDTO email = new ForgetPasswordDTO();
    string message ="";
    bool loading = false;

    async Task Send()
    {
        message = "";
        loading = true;
        string result = await _Auth.ForgetPassword(email);
        switch (result)
        {
            case AuthResults.Success:
                message = $"קישור לאיפוס הסיסמה נשלח לכתובת {email.Email}";
                break;
            case AuthResults.UserNotFound:
                message = "לא קיים משתמש במייל זה";
                break;
            default:
                message = "קרתה תקלה";
                break;

        }
        loading = false;
    }


}
