@page "/Verify-Email"
@inject NavigationManager nav
@using System.Web
@attribute [Authorize]


<h1>נרשמת בהצלחה!</h1>
@if (user != null)
{
    <p>
        שלחנו לך מייל אימות לכתובת @user.Email.<br />
        לאימות המייל יש ללחוץ על הקישור שנשלח לך
    </p>
    <button class="btn btn-primary"
            @onclick="GoToLogin">
        חזרה לדף ההתחברות
    </button>

    <button class="text-gray-500 hover:text-gray-700 transition-colors w-full"
    @onclick="ResendVerification" disabled="@(timer>0)">
        @if (timer > 0)
        {
           @timer 
        }
       שלחו לי מייל אימות חדש
    </button>
}
<p>@message</p>


@code {

    [CascadingParameter]
    private User user { get; set; }

    [Inject]
    public IAuthenticationService _Auth { get; set; }

    int timer = 15;
    string message = "";


    protected override async Task OnParametersSetAsync()
    {
        if (user != null)
        {
            await ResendVerification();
        }
    }
    
    async Task updateTimer()
    {
        if (timer == 0)
            return;

        await Task.Delay(1000);
        timer--;
        StateHasChanged();
        await updateTimer();
    }

    private async void GoToLogin()
    {
        await _Auth.Logout();
        nav.NavigateTo(PageRoutes.Login);
    }

    private async Task ResendVerification()
    {
        message = "";
        string sendCode =   await _Auth.ResendVerafication(user);
        switch (sendCode)
        {
            case AuthResults.Success:
                timer = 15;
                await updateTimer();
                message = $"נשלח מייל אימות לכתובת {user.Email}";
                break;
            case AuthResults.EmailFailed:
                message = "תקלה בשליחת מייל אימות";
                break;
            case AuthResults.UserNotFound:
                message = "לא קיים משתמש במייל זה";
                break;
            default:
                message = "קרתה תקלה";
                break;

        }
       

    }

}
