@page "/Pending"
@attribute [Authorize]



<!-- דף למשתמשים ללא הרשאות -->

@if (user != null)
{
    <h1>היי @user.FirstName</h1>
    <p>אין לך אישור להשתמש במערכת!</p>
    <p>יש לפנות במייל לקבלת אישור:
        <a href="@($"mailto:{ClientMail}")">@ClientMail</a>
    </p>
    <a href="@PageRoutes.LandingPage" class="btn btn-primary">חזרה לדף הבית</a>

}
@code {
    [CascadingParameter]
    private User user { get; set; }

    //כתובת מייל רשמית של הלקוח - לבקשת הרשאות
    string ClientMail = "Mail@Mail.com";
}
