@page "/dashboard"
@layout AppLayout
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="dash-topbar">
    <h1 class="dash-title">דשבורד</h1>
</div>

<div class="dash-body">
    <p class="dash-placeholder">תוכן הדשבורד יופיע כאן.</p>
</div>
